html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, font, img, ins,
kbd, q, s, samp, small, strike, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    font-size: 13px;
	font-family: 'Verdana',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Verdana',sans-serif;
	font-style: italic;
    font-size: 16px;
    font-weight: bold;
} 

strong, b {
	font-family: 'Verdana',sans-serif;
}

button {
	font-family: 'Verdana',sans-serif;
	font-style: italic;
    font-size: 13px;
}

li {
	font-family: 'Verdana',sans-serif;
	font-style: italic;
}

#menu a, #menu a:link, #menu a:visited, #menu a:active{
	font-family: 'Verdana',sans-serif;
	font-style: italic;
    font-size: 13px;
}

#footer {
	font-family: 'Verdana',sans-serif;
}